<div class="records--container">
  <button mat-flat-button color="primary" class="records--container__button"
          [ngClass]="{'recording': isRecording}"
          (click)="onChangeState()">
    <div class="records--container__button">
      <span class="records--container__button--text">{{ isRecording ? 'Stop' : 'Start' }}</span>
      <span class="records--container__button--loader" *ngIf="isRecording"></span>
    </div>
  </button>


  <div class="records--container__table-container">
    <table mat-table [dataSource]="records" class="mat-elevation-z8">

      <ng-container matColumnDef="sourceText">
        <th mat-header-cell *matHeaderCellDef>Source Text</th>
        <td mat-cell *matCellDef="let element">
          <span class="records--container__row">{{ element.sourceText }}</span>
        </td>
      </ng-container>


      <ng-container matColumnDef="targetText">
        <th mat-header-cell *matHeaderCellDef>Target Text</th>
        <td mat-cell *matCellDef="let element">
          <span class="records--container__row">{{ element.targetText }}</span>
        </td>
      </ng-container>


      <ng-container matColumnDef="audioPath">
        <th mat-header-cell *matHeaderCellDef>Audio Path</th>
        <td mat-cell *matCellDef="let element">
          <span class="records--container__row">{{ element.audioPath }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="receivedAt">
        <th mat-header-cell *matHeaderCellDef>Received At</th>
        <td mat-cell *matCellDef="let element">
          <span class="records--container__row">{{ element.receivedAt | date: 'hh:mm:ss dd/MM/yyyy' }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span class="records--container__row" *ngIf="i === records.length - index - 1">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path
              d="M360-320h80v-320h-80v320Zm160 0h80v-320h-80v320ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
